cwd/assets/minecraft
cwd/assets/altcraft/fonts/
cwd/myeasylog.log
cwd/settings.json
build/

#CLion
.idea/
cmake-build-debug/
cmake-build-release/

#Visual Studio
.vs/
CMakeSettings.json
Folder.DotSettings.user

#Visual Studio Code
.vscode/

#Qt Creator
CMakeLists.txt.user
